body {
    padding-bottom: 5em;
}

.mysoc-header {
    height: 40px;
    background-color: $color-twfy-black;
}

.twfy-header {
    height: 48px;
    background-color: #fff;
}

.twfy-tab {
    width: 160px;
    height: 48px;
    background-color: $color-twfy-green;
}
