.profile-header {
    background-color: $color-twfy-taupe;
    color: #fff;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-bottom: 2em;
}

.profile-header__info {
    h1 {
        font-size: 3em;
        line-height: 1.2em;
        font-weight: 600;
        margin: 0;
    }

    p {
        font-size: 1.3em;
        line-height: 1.2em;
        margin: 0;
    }

    a {
        color: inherit;
        text-decoration: underline;
    }
}

.profile-sidebar {
    @media (min-width: $screen-sm-min) {
        margin-top: -10em;
        padding-right: 1em;
    }
}

.profile-picture {
    max-width: 100%;
    height: auto;
    margin-bottom: 2em;
    border-radius: $border-radius-base;
    box-shadow: 0 1px 1px rgba(#000, 0.2);
}

.profile-nav {
    border-bottom: 1px solid darken($color-twfy-cream, 10%);
    margin-bottom: 2em;

    ul {
        @include list-unstyled();
        @include clearfix();
        margin: 0 -1em;
    }

    li {
        float: left;
        padding: 0 1em;
    }

    a {
        display: block;
        font-size: 18px;
        padding: 0.75em 0;
        margin-top: -0.75em;
        color: $color-twfy-taupe;

        &:hover {
            color: $color-twfy-black;
            border-bottom: 4px solid darken($color-twfy-cream, 10%);
            margin-bottom: -1px;
            text-decoration: none;
        }
    }

    .active a {
        color: $color-twfy-black;
        border-bottom: 4px solid $color-twfy-green;
        margin-bottom: -1px
    }
}

.profile-timeline-header {
    @include display-flex();
    @include align-items(center);
    margin-bottom: 2em;

    h3 {
        margin: 0 auto 0 0;
        font-size: 1.2em;
        font-weight: 600;
    }
}

.profile-box {
    padding: 1.5em;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(#000, 0.2);
    border-radius: $border-radius-base;
    margin-bottom: 2em;

    hr {
        margin: 1.5em -1.5em;
        border-color: $body-bg;
    }

    h2 {
        font-size: 0.875em; // 14px
        color: $color-twfy-taupe;
        text-transform: uppercase;
        font-weight: inherit;
        margin: 1em 0 0 0;
    }

    p {
        margin-bottom: 1em;
    }

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }
}

.profile-box__action {
    font-size: 1.125em;
}

.profile-box__links {
    @include list-unstyled();
    @include clearfix();
    margin: 1.5em -1.5em -1.5em -1.5em;
    border-top: 1px solid $body-bg;

    margin-bottom: -1.5em !important; // override .profile-box > :last-child

    li {
        float: left;
    }

    .secondary {
        @media (min-width: $screen-sm-min) {
            float: right;
        }
    }

    a {
        display: block;
        padding: 1em 1.5em;
    }
}

.more-link {
    color: $color-twfy-green;

    &:hover,
    &:focus {
        color: darken($color-twfy-green, 15%);
    }

    &:after {
        @extend .#{$fa-css-prefix};
        font-size: 0.7em;
        vertical-align: 0.1em;
        margin-left: 0.5em;
        content: $fa-var-arrow-right;
    }
}

.share-link,
.thankyou-link {
    &:before {
        @extend .#{$fa-css-prefix};
        font-size: 0.7em;
        vertical-align: 0.1em;
        margin-right: 0.5em;
        content: $fa-var-share;
    }
}

.thankyou-link {
    &:before {
        content: $fa-var-heart;
        color: $color-twfy-red;
    }
}

.social-links {
    @include list-unstyled();

    li {
        margin-top: 0.5em;
    }

    a {
        &:before {
            @extend .#{$fa-css-prefix};
            @extend .#{$fa-css-prefix}-fw;
            margin-right: 0.5em;
            content: $fa-var-link;
        }

        &[href*="twitter.com"]:before {
            content: $fa-var-twitter;
        }

        &[href*="facebook.com"]:before {
            content: $fa-var-facebook-f;
        }
    }
}
